.Login{
    width: 30%;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
h2{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding : 10px;
    background-color: rgb(33, 102, 171);
    color: white;
    border-radius: 10px;

}
#username, #password{
    display: flex;
    width: 65%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

button{
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 10px;
    background-color: rgb(33, 102,171);
    color: white;
    border-radius: 10px;
}