.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #036;
    padding : 0.8rem; 
    color: white;
    border-radius: 10px;

}
.navbar h1 {
    margin: 0;
  }

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar li {
    margin: 0 15px;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  .navbar a:hover {
    text-decoration: underline;
  }